[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "==1.9.0"
marshmallow = "==3.15.0"
icecream = "==2.1.2"

[dev-packages]

[requires]
python_version = "3.8"
